body {
    background-color: #EEEEEE;
    font-family: Verdana,sans-serif;
    font-size: 14.4px;
}

a {
    color: #FF6600;
}

a:hover {
    color: #0066FF;
}

.toolbar {
    display: block;
    font-size: 0.9em;
    position: fixed;
    width: 100%;
    padding-bottom: 2px;
    text-align: center;
    overflow-x: auto;
    font-size: 1.2em;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.toolbar a {
    font-size: 1em;
}

.buttonImage {
    vertical-align: middle;
    opacity: 0.65;
}

.buttonImage:disabled {
    opacity: 0.4;
}

.buttonImage:hover {
    opacity: 1;
}

.buttonImage:disabled:hover {
    opacity: 0.4;
}

input.buttonImage {
    background-color: transparent;
}
