.ui-accordion ~ .ui-accordion {
    margin-top: 2px;
}

body {
    background-color: #EEEEEE;
    font-family: Verdana,sans-serif;
    font-size: 14.4px;
    padding-top: 26px;
}

a {
    color: #FF6600;
}

a:hover {
    color: #0066FF;
}

label {
    white-space: nowrap;
}

fieldset {
    border: none;
    padding: 0px;
}

fieldset.fieldset {
    border: 1px solid black;
    padding: 4px;
}

.toolbar {
    display: block;
    font-size: 0.9em;
    position: fixed;
    width: 100%;
    padding-bottom: 2px;
    text-align: center;
    overflow-x: auto;
    font-size: 1.2em;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-bottom: 1px solid #CCCCCC;
    background-color: #EEEEEE;
}

.toolbar a {
    font-size: 1em;
}

.buttonImage {
    vertical-align: middle;
    opacity: 0.65;
}

.buttonImage:disabled {
    opacity: 0.4;
}

.buttonImage:hover {
    opacity: 1;
}

.buttonImage:disabled:hover {
    opacity: 0.4;
}

input.buttonImage {
    background-color: transparent;
}

.accordionHeader {
    display: inline-block;
    width: 100%;
    padding: 4px;
    font-size: 1.1em;
}

div.accordionBody {
    padding: 4px;
    width: 100%;
}

#optionsWrapper {
    display: inline-block;
    width: calc(33%);
}

#preview {
    display: inline-block;
    width: calc(66%);
    vertical-align: top;
    margin-left: 0px;
    border: 1px solid red;
    padding: 0px;
}

#options {    
    width: calc(100% - 10px);
}

.sectionHeader {
    font-weight: bold;
}

.hexColor {
    width: 70px !important;
}

.rgbaColor {
    width: 175px !important;
}

#fontFamily {
    width: 200px;
}

#preview > iframe {
    width: 100%;
    height: 600px;
    border: 0px;
}
