html, body {
  box-sizing: border-box;
  height: calc(100% - 26px);
}

label {
    white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

fieldset {
    border: none;
    padding: 0px;
}

fieldset.fieldset {
    border: 1px solid black;
    padding: 4px;
}

.accordionHeader {
    display: inline-block;
    width: 100%;
    padding: 4px;
    font-size: 1.1em;
}

div.accordionBody {
    padding: 4px;
    width: 100%;
}

#wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 100%;
}

#optionsWrapper {
  width: 300px;
}

#preview {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

#preview > iframe {
  flex-grow: 1;
  border: 0px;
}

#options {
  overflow-y: auto;
  max-height: calc(100% - 10px);
}

.sectionHeader {
    font-weight: bold;
}

.hexColor {
    width: 70px !important;
}

.rgbaColor {
    width: 175px !important;
}

#fontFamily {
    width: 200px;
}

#bodyFontSize {
    width: 50px;
}

#borderRadius, #hrHeight {
    width: 30px;
}

#hrImageSource {
    width: 250px;
}

#cssView, #jqueryUICSSView {
    border: 1px solid #CCCCCC;
}

#jqueryUICSSView {
    margin-top: 4px;
}

.row + .row {
  margin-top: 4px;
}
