Actual name must be bans.json.

IP addresses may be in IPv4 or IPv6 form.

Example:

{
    "::c0a8:1": {
        "level": "NO_ACCESS",
        "reason": "peedor"
    },
    "127.0.0.1": {
        "level": "READ_ONLY",
        "reason": "sooqa"
    }
}
