<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body {{#def.basicData}}>
{{#def.navbar}}
{{~["Top"] :position}}
    {{#def.createAction}}
{{~}}
{{~[it.thread] :thread}}
    {{~[thread.opPost] :post}}
        {{#def.post}}
    {{~}}
    {{~thread.posts :post}}
        {{#def.post}}
    {{~}}
{{~}}
{{~["Top"] :position}}
    {{#def.createAction}}
{{~}}
</body>
</html>
