<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body>
{{#def.navbar}}
{{~[it.thread] :thread}}
    {{~[thread.opPost] :post}}
        {{#def.post}}
    {{~}}
    {{~thread.posts :post}}
        {{#def.post}}
    {{~}}
{{~}}
</body>
</html>
