{{? it.board}}
    data-board-name="{{=it.board.name}}"
    data-max-file-size="{{=it.board.maxFileSize}}"
    data-max-file-count="{{=it.board.maxFileCount}}"
{{?}}
data-site-path-prefix="{{=it.site.pathPrefix}}"
data-device-type="{{=it.deviceType}}"
