{{? target == "top"}}
    <a class="navigationButton navigationButtonTop" title="{{=it.tr.toTopText}}"
       href="#top" style="display: none;"><img src="/{{=it.site.pathPrefix}}img/up.png"></a>
{{?? target == "bottom"}}
    <a class="navigationButton navigationButtonBottom" title="{{=it.tr.toBottomText}}"
       href="#bottom" style="display: none;"><img src="/{{=it.site.pathPrefix}}img/down.png"></a>
{{?}}
