<a href="/{{=it.site.pathPrefix}}{{=reference.boardName}}/thread/{{=reference.threadNumber}}.html#{{=reference.postNumber}}"
    onmouseover="lord.viewPost(this, '{{=reference.boardName}}', {{=reference.postNumber}});"
    onmouseout="lord.noViewPost();">&gt;&gt;{{? reference.boardName != it.board.name}}/{{=reference.boardName}}/{{?}}{{=reference.postNumber}}</a>
