<script type="text/javascript">
    var model = lord.model(["base", "tr", "boards"], true);
    if (lord.data("boardName"))
        model.board = lord.model("board/" + lord.data("boardName")).board;
    document.open();
    document.write(lord.template("searchAction", model, true));
    document.close();
</script>
