<div class="toolbar" style="margin-top: 0px;{{? it.settings.stickyToolbar}} z-index: -1;{{?}}">
    {{#def.innerToolbar}}
</div>
{{? it.settings.stickyToolbar}}
    <div class="toolbar sticky">
        {{#def.innerToolbar}}
    </div>
{{?}}
