config-dev.json
node_modules

# boards
boards/*
!boards/board.js
!boards/d.js
!boards/echo.js
!boards/index.js
!boards/rpg.js

# captchas
captchas/*
!captchas/codecha.js
!captchas/google-recaptcha-v1.js
!captchas/google-recaptcha.js
!captchas/yandex-captcha.js

# geolocation

geolocation/*
!geolocation/.placeholder

# tmp
tmp/*
!tmp/.placeholder

# tools
tools/*
!tools/geolocation.js

# views
views/*
!views/custom
!views/partials/banner.jst
!views/partials/baseData.jst
!views/partials/createAction.jst
!views/partials/customFooter.jst
!views/partials/customHeader.jst
!views/partials/head.jst
!views/partials/innerNavbar.jst
!views/partials/leafButton.jst
!views/partials/navbar.jst
!views/partials/navigationButton.jst
!views/partials/postForm.jst
!views/partials/searchAction.jst
!views/partials/threadActions.jst
!views/partials/toolbar.jst
!views/addFiles.jst
!views/ban.jst
!views/banUser.jst
!views/boardPage.jst
!views/catalog.jst
!views/codechaWidget.jst
!views/deleteFile.jst
!views/deletePost.jst
!views/echoPostFormField.jst
!views/editPost.jst
!views/error.jst
!views/faq.jst
!views/frame.jst
!views/frameList.jst
!views/home.jst
!views/login.jst
!views/manage.jst
!views/markup.jst
!views/moveThread.jst
!views/notFound.jst
!views/openCloseVoting.jst
!views/playlist.jst
!views/postSourceText.jst
!views/rpgPostFormField.jst
!views/search.jst
!views/settings.jst
!views/thread.jst
!views/yandexCaptchaWidget.jst

# public
public/*
!public/css
!public/img
!public/js
!public/templates
!public/.gitignore
