Actual file name must be config-dev.json.

{
    "system": {
        "workerCount": 1,
        "log": {
            "targets": [
                "console",
                "file"
            ],
            "maxSize": 1048576,
            "backups": 100,
            "middleware": {
                "before": "",
                "verbosity": "ip"
            }
        },
        "fileDownloadProxy": "",
        "fileDownloadProxyAuth": "",
        "searchLimit": 100
    },
    "server": {
        "port": 8080,
        "ddosProtection": {
            "enabled": true,
            "static": false,
            "errorData": "Not so fast!",
            "errorCode": 429,
            "weight": 1,
            "maxWeight": 10,
            "checkInterval": 1000,
            "rules": [
                {
                    "regexp": "^/api.*",
                    "maxWeight": 6,
                    "queueSize": 4
                },
                {
                    "string": "/action/search",
                    "maxWeight": 1
                },
                {
                    "regexp": ".*",
                    "maxWeight": 16
                }
            ]
        },
        "rss": {
            "enabled": true,
            "ttl": 60,
            "postCount": 500
        },
        "chat": {
            "ttl": 10080
        },
        "youtubeApiKey": ""
    },
    "site": {
        "locale": "en",
        "protocol": "http",
        "domain": "localhost:8080",
        "dateFormat": "MM/DD/YYYY HH:mm:ss",
        "timeOffset": 0,
        "tripcodeSalt": "ololo",
        "maxSearchQueryLength": 50,
        "vkontakte": {
            "integrationEnabled": false,
            "appId": 0,
            "accessToken": ""
        },
        "twitter": {
            "integrationEnabled": true
        },
        "extraScripts": {
            "boardPage": [
                { "fileName": "custom/myScript.js" },
                { "source": "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js" }
            ]
        }
    },
    "board": {
        "bumpLimit": 500,
        "postLimit": 1000,
        "captchaEnabled": true,
        "captchaQuota": 10,
        "launchDate": "",
        "maxFileSize": 15728640,
        "b": {
            "captchaQuota": 0
        },
        "soc": {
            "hidden": true,
            "launchDate": ""
        },
        "int": {
            "showWhois": true
        },
        "rf": {
            "postingEnabled": false
        },
        "3dpd": {
            "maxFileCount": 3
        },
        "echo": {
            "acceptedExternalBoardLinks": [
                "http://iichan.hk/[a-z]+/res/\\d+\\.html",
                "http://dobrochan.ru/[a-z]+/res/\\d+\\.xhtml",
                "https?://410chan.org/[a-z]+/res/\\d+\\.html",
                "https://boards.4chan.org/[a-z]+/thread/\\d+/[a-zA-Z0-9\\-_]+",
                "https?://2ch.hk/[a-z]+/res/\\d+\\.html"
            ]
        }
    },
    "captcha": {
        "google-recaptcha": {
            "privateKey": "",
            "publicKey": ""
        },
        "google-recaptcha-v1": {
            "privateKey": "",
            "publicKey": ""
        },
        "yandex-captcha-elatm": {
            "privateKey": ""
        },
        "yandex-captcha-estd": {
            "privateKey": ""
        },
        "yandex-captcha-rus": {
            "privateKey": ""
        },
        "codecha": {
            "privateKey": "",
            "publicKey": ""
        }
    }
}
