*
!custom/
!partials/
!addFiles.jst
!ban.jst
!banUser.jst
!boardPage.jst
!catalogPage.jst
!coubVideoLink.jst
!deleteFile.jst
!deletePost.jst
!editPost.jst
!error.jst
!faq.jst
!frame.jst
!frameList.jst
!home.jst
!login.jst
!manage.jst
!markup.jst
!moveThread.jst
!notFound.jst
!openCloseVoting.jst
!playlist.jst
!postSourceText.jst
!search.jst
!settings.jst
!threadPage.jst
!youtubeVideoLink.jst
!.gitignore
