<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body {{#def.baseData}}>
{{#def.sidebar}}
{{#def.content}}
{{~["top", "bottom"] :target}}
    {{#def.navigationButton}}
{{~}}
<a id="top"></a>
{{#def.toolbar}}
{{#def.player}}
{{#def.customHeader}}
{{#def.searchAction}}
{{#def.banner}}
<div class="theTitle">
    <h1>
        <a href="/{{=it.site.pathPrefix}}{{=it.board.name}}">{{=it.board.title}}</a>
    </h1>
</div>
<div id="threads" class="archiveThreads">
    {{~it.threads :thread}}
        <a href="/{{=it.site.pathPrefix}}{{=it.board.name}}/arch/{{=thread.number}}.html"
           class="archivalThreadLink">{{=thread.number}}.html</a>
    {{~}}
</div>
<hr />
{{#def.postingSpeed}}
<a id="bottom"></a>
{{#def.customFooter}}
</div>
</body>
</html>
