<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body {{#def.baseData}}>
{{#def.sidebar}}
{{#def.content}}
{{#def.toolbar}}
{{#def.player}}
{{#def.customHeader}}
{{#def.searchAction}}
<div class="theTitle">
    <h1>
        {{=it.title}}
    </h1>
</div>
<div class="ban">
    <table>
        <tr>
            <td>
                <b>{{=it.tr.banBoardLabelText}}</b>
            </td>
            <td>
                {{? it.ban.boardName}}
                    {{=it.ban.boardName}}
                {{??}}
                    {{=it.tr.allBoardsText}}
                {{?}}
            </td>
        </tr>
        <tr>
            <td>
                <b>{{=it.tr.banLevelLabelText}}</b>
            </td>
            <td>
                {{? "READ_ONLY" == it.ban.level}}
                    {{=it.tr.postingRestrictedtext}}
                {{??}}
                    {{=it.tr.readingAndPostingRestrictedtext}}
                {{?}}
            </td>
        </tr>
        {{? it.ban.createdAt}}
            <tr>
                <td>
                    <b>{{=it.tr.banDateTimeLabelText}}</b>
                </td>
                <td name="formattedDate">
                    {{ out += it.formattedDate(it.ban.createdAt); }}
                </td>
            </tr>
        {{?}}
        {{? it.ban.reason}}
            <tr>
                <td>
                    <b>{{=it.tr.banReasonLabelText}}</b>
                </td>
                <td>
                    {{=it.ban.reason}}
                </td>
            </tr>
        {{?}}
        <tr>
            <td>
                <b>{{=it.tr.banExpiresLabelText}}</b>
            </td>
            <td {{? it.ban.expiresAt}}name="formattedDate"{{?}}>
                {{? it.ban.expiresAt}}
                    {{ out += it.formattedDate(it.ban.expiresAt); }}
                {{??}}
                    {{=it.tr.banExpiresNeverText}}
                {{?}}
            </td>
        </tr>
    </table>
</div>
{{#def.customFooter}}
</div>
</body>
</html>
