<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body class="{{=it.deviceType}}"
      {{#def.baseData}}
      {{? it.lastPostNumber}}data-last-post-number="{{=it.lastPostNumber}}"{{?}}>

{{? it.customHeader}}
    {{#def.customheader}}
{{?}}
{{~["top", "bottom"] :target}}
    {{#def.navigationButton}}
{{~}}

<a id="top"></a>
{{#def.toolbar}}
<br />
{{#def.navbar}}
<br />
{{#def.searchAction}}
{{? it.board.bannerFileName}}
    <br />
    {{#def.banner}}
{{?}}
<div class="theTitle">

</div>
{{? it.board.postingEnabled}}
    <hr />
    {{~["Top"] :position}}
        {{#def.createAction}}
    {{~}}
{{??}}
    <div class="postingDisabledMessage">
        <h2>{{=it.tr.postingDisabledBoardText}}</h2>
    </div>
{{?}}
{{~it.threads :thread}}
    <hr />
    <div id="thread{{=thread.opPost.number}}" class="thread">
        {{~[thread.opPost] :post}}
            {{#def.post}}
        {{~}}
    </div>
    {{? thread.omittedPosts > 0}}
        <div id="threadOmitted{{=thread.opPost.number}}" class="omittedPosts">
            {{=it.tr.omittedPostsText}} {{=thread.omittedPosts}}   
        </div>
    {{?}}
    <div id="threadPosts{{=thread.opPost.number}}" class="threadPosts">
        {{~thread.lastPosts :post}}
            {{#def.post}}
        {{~}}
    </div>
{{~}}

<hr />
<div class="pages">
    {{? it.currentPage > 0}}
        <span class="pagesItem metaPage">

        </span>
    {{?}}
    {{ for (var i = 0; i < it.pageCount; ++i) { }}
        {{? i != it.currentPage}}

        {{??}}
            <span class="pagesItem currentPage">
                [<b>{{=i}}</b>]
            </span>
        {{?}}
    {{ } }}

</div>
<hr />
{{#def.navbar}}
<hr />
<div class="navbar">
    <span class="navbarItem">[{{=it.tr.postingSpeedText}} {{=it.board.postingSpeed}}]</span>
</div>
<a id="bottom"></a>
{{? it.customFooter}}
    {{#def.customFooter}}
{{?}}
</body>
</html>
