<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body class="mobile" {{#def.baseData}} data-current-page="{{=it.currentPage}}">
<script id="model-postformRules" type="application/json">{{ out += JSON.stringify(it.postformRules); }}</script>
{{? it.site.vkontakte.integrationEnabled }}
    <script type="text/javascript">
        VK.init({ apiId: {{=it.site.vkontakte.appId}} });
    </script>
{{?}}
<div id="hiddenPostForm" style="display: none;"></div>
{{? it.board.captchaEnabled}}
    <div id="hiddenCaptcha" style="display: none;"></div>
{{?}}
<div id="customHeaderPlaceholder" style="display: none;"></div>
{{~["top", "bottom"] :target}}
    {{#def.navigationButton}}
{{~}}
{{~["previous", "next"] :target}}
    {{#def.leafButton}}
{{~}}
<div id="toolbarPlaceholder" style="display: none;"></div>
<br />
<a id="top"></a>
<div id="searchPlaceholder" style="display: none;"></div>
<div id="bannerPlaceholder" style="display: none;"></div>
<div class="theTitle">
    <h1>
        {{=it.board.title}}
        <a href="/{{=it.site.pathPrefix}}{{=it.board.name}}/catalog.html"
           title="{{=it.tr.boardCatalogLinkText}}"><img src="/{{=it.site.pathPrefix}}img/catalog.png"
                                                        class="buttonImage" width="24" height="24"></a>
        <a href="/{{=it.site.pathPrefix}}{{=it.board.name}}/rss.xml" target="_blank"
           title="{{=it.tr.boardRssLinkText}}"><img src="/{{=it.site.pathPrefix}}img/rss.png" class="buttonImage"
                                                    width="24" height="24"></a>
    </h1>
</div>
<div id="upperPlaceholder" style="display: none;"></div>
<div id="threads" class="loadingMessage">
    <img src="/{{=it.site.pathPrefix}}img/loading_big.gif">
    <h1 style="display: inline;">{{=it.tr.loadingThreadsMessage}}</h1>
</div>
<div id="lowerPlaceholder" style="display: none;"></div>
<hr />
<div id="pagesPlaceholder" style="display: none;"></div>
<div id="navbarPlaceholder" style="display: none;"></div>
<hr />
<div id="postingSpeedPlaceholder" style="display: none;"></div>
<a id="bottom"></a>
<div id="customFooterPlaceholder" style="display: none;"></div>
</body>
</html>
