<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body {{#def.baseData}} data-sort-mode="{{=it.sortMode}}">
{{~["top", "bottom"] :target}}
    {{#def.navigationButton}}
{{~}}
<a id="top"></a>
{{#def.toolbar}}
{{#def.player}}
{{#def.customHeader}}
{{#def.searchAction}}
{{#def.banner}}
<div class="theTitle">
    <h1>
        <a href="/{{=it.site.pathPrefix}}{{=it.board.name}}">{{=it.board.title}}</a>
    </h1>
    {{=it.tr.sortingModeLabelText}}
    <select name="catalogSortingModeSelect" class="select"
            onchange="location = '/{{=it.site.pathPrefix}}{{=it.board.name}}/catalog' + ((this.selectedIndex > 0) ? ('-' + this.options[this.selectedIndex].value) : '') + '.html';">
        <option value="date"
                {{? it.sortMode == "date"}}selected="true"{{?}}>{{=it.tr.sortingModeDateLabelText}}</option>
        <option value="recent"
                {{? it.sortMode == "recent"}}selected="true"{{?}}>{{=it.tr.sortingModeRecentLabelText}}</option>
        <option value="bumps"
                {{? it.sortMode == "bumps"}}selected="true"{{?}}>{{=it.tr.sortingModeBumpsLabelText}}</option>
    </select>
</div>
<hr />
<div id="threads" class="catalogContainer">
    {{~it.threads :thread}}
        <div class="catalogItem">
            <div>
                <a href="/{{=it.site.pathPrefix}}{{=it.board.name}}/res/{{=thread.opPost.number}}.html"
                   {{? thread.opPost.fileInfos.length > 0}}data-rating="{{=thread.opPost.fileInfos[0].rating}}"{{?}}>
                    {{? thread.opPost.fileInfos.length > 0}}
                        {{~[thread.opPost.fileInfos[0]] :fileInfo}}
                            {{#def.postFileThumb}} 
                        {{~}}
                    {{??}}
                        &gt;&gt;/{{=it.board.name}}/{{=thread.opPost.number}}
                    {{?}}
                </a>
            </div>
            {{~[thread.opPost] :post}}
                <div>
                    {{#def.postName}}
                    {{=it.tr.replyCountLabelText}} {{ out += (thread.postCount - 1); }}
                    {{? post.subject}}
                        <br />
                    {{?}}
                    {{#def.postSubject}}
                </div>
                <div>
                    <blockquote>{{ out += (post.text || ""); }}</blockquote>
                </div>
                {{? post.referringPosts.length > 0}}
                    <div>
                        {{#def.postReferringPosts}}
                    </div>
                {{?}}
            {{~}}
        </div>
    {{~}}
</div>
{{#def.navbar}}
<hr />
{{#def.postingSpeed}}
<a id="bottom"></a>
{{#def.customFooter}}
</body>
</html>
