<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body class="{{=it.deviceType}}" {{#def.baseData}}>
{{? it.customHeader}}
    {{#def.customHeader}}
{{?}}
{{#def.toolbar}}
<br />
{{#def.searchAction}}
<div class="theTitle">
    <h1>
        {{=it.title}}
    </h1>
</div>
<div class="alignCenter">
    {{#def.deletePostForm}}
</div>
{{? it.customFooter}}
    {{#def.customFooter}}
{{?}}
{{#def.extraData}}
</body>
</html>
