<tr>
    <td class="postformLabel">
        <b>{{=it.tr.postFormLabelLink}}</b>
    </td>
    <td class="postformField">
        <input type="text" maxlength="{{=it.board.maxLinkLength}}" name="link" size="43" />
     </td>
</tr>
