<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body {{#def.baseData}}>
{{#def.toolbar}}
{{#def.customHeader}}
<br />
{{#def.searchAction}}
<div class="theTitle">
    <h1 id="errorMessage">{{=it.errorMessage}}</h1>
</div>
<div class="error" id="errorDescription">
    {{=it.errorDescription}}
</div>
{{#def.customFooter}}
</body>
</html>
