<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body class="{{=it.deviceType}}" {{#def.baseData}}>
<div id="customHeaderPlaceholder" style="display: none;"></div>
<div id="toolbarPlaceholder" style="display: none;"></div>
<br />
<div id="searchPlaceholder" style="display: none;"></div>
<div class="theTitle">
    <h1 id="errorMessage">{{=it.errorMessage}}</h1>
</div>
<div class="error" id="errorDescription">
    {{=it.errorDescription}}
</div>
<div id="customFooterPlaceholder" style="display: none;"></div>
</body>
</html>
