<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body {{#def.baseData}}>
{{#def.sidebar}}
{{#def.content}}
{{#def.toolbar}}
{{#def.customHeader}}
<div class="theTitle">
    <h1>
        {{=it.title}}
    </h1>
</div>
<script type="text/javascript">
    (function() {
        if (!lord.addTemplate("custom-faq", lord.get("/{{=it.site.pathPrefix}}templates/custom-faq.jst")))
            return;
        var model = lord.model(["base", "tr", "boards"]);
        model.settings = lord.settings();
        var data = lord.template("custom-faq", model, true);
        if (!data)
            return;
        document.open();
        document.write(data);
        document.close();
    })();
</script>
{{#def.customFooter}}
{{#def.searchAction}}
{{#def.player}}
</div>
</body>
</html>
