<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<frameset cols="{{? it.deviceType != "mobile"}}210{{??}}80{{?}},*">
    <frame src="/{{=it.site.pathPrefix}}frameList.html" name="list" noresize="" scrolling="auto" frameborder="1"></frame>
    <frame src="{{=it.source}}" name="page" noresize=""></frame>
</frameset>
</html>
