<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body {{#def.baseData}}>
<div class="theTitle">
    <img src="/{{=it.site.pathPrefix}}favicon.ico" title="{{=it.title}}">
</div>
<br />
<div>
    <div id="frameListNavigationPlaceholder" style="display: none;"></div>
</div>
</body>
</html>
