<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body {{#def.baseData}}>
<div id="toolbarPlaceholder" style="display: none;"></div>
<div id="customHeaderPlaceholder" style="display: none;"></div>
<br />
<div id="searchPlaceholder" style="display: none;"></div>
<div class="theTitle">
    <h1>
        {{=it.tr.welcomeMessage}}
    </h1>
</div>
<div id="customContentPlaceholder" style="display: none;"></div>
<div id="customFooterPlaceholder" style="display: none;"></div>
</body>
</html>
