<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body {{#def.baseData}}>
{{#def.toolbar}}
{{#def.player}}
{{#def.customHeader}}
{{#def.searchAction}}
<div class="theTitle">
    <h1>
        {{=it.title}}
    </h1>
</div>
<div>
    <ul class="tabWidget nowrap">
        <li data-index="0"
            class="activated"><a onclick="lord.activateTab(this); return false;">{{=it.tr.bansTabText}}</a></li>
        <li data-index="1"><a onclick="lord.activateTab(this); return false;">{{=it.tr.usersTabText}}</a></li>
        <li data-index="2"><a onclick="lord.activateTab(this); return false;">{{=it.tr.boardsTabText}}</a></li>
        <li data-index="3"><a onclick="lord.activateTab(this); return false;">{{=it.tr.contentTabText}}</a></li>
    </ul>
    <div>
        <div id="bans" data-index="0" class="loadingMessage">
            <img src="/{{=it.site.pathPrefix}}img/loading_big.gif">
            <h1 style="display: inline;">{{=it.tr.loadingBansMessage}}</h1>
        </div>
        <div data-index="1" style="display: none;">
            Coming soon...
        </div>
        <div data-index="2" style="display: none;">
            Coming soon...
        </div>
        <div data-index="3" style="display: none;">
            Coming soon...
        </div>
    </div>
</div> 
{{#def.customFooter}}
</body>
</html>
