<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body class="{{=it.deviceType}}" {{#def.baseData}}>
{{? it.customHeader}}
    {{#def.customHeader}}
{{?}}
{{#def.toolbar}}
<br />
{{#def.searchAction}}
<div class="theTitle">
    <h1>
        {{=it.title}}
    </h1>
</div>
<div id="bannedUsers">
    {{~it.bannedUsers :user}}
        <div id="user{{=user.ip}}">
            {{#def.userBan}}
            <br />
        </div>
    {{~}}
</div>    
<hr />
<div>
    {{? typeof user != "undefined"}}
        {{ user = undefined; }}
    {{?}}
    {{#def.userBan}}
</div>
{{? it.customFooter}}
    {{#def.customFooter}}
{{?}}
{{#def.extraData}}
</body>
</html>
