<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body class="{{=it.deviceType}}" {{#def.baseData}}>
{{? it.customHeader}}
    {{#def.customHeader}}
{{?}}
<div id="toolbarPlaceholder" style="display: none;"></div>
<br />
<div id="searchPlaceholder" style="display: none;"></div>
<div class="theTitle">
    <h1>{{=it.notFoundMessage}}</h1>
</div>
{{? it.imageFileName}}
    <div class="theImage">
        <img src="/{{=it.site.pathPrefix}}img/404/{{=it.imageFileName}}">
    </div>
{{?}}
{{? it.customFooter}}
    {{#def.customFooter}}
{{?}}
{{#def.extraData}}
</body>
</html>
