<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body {{#def.baseData}}>
<script id="model-notFoundImageFileNames"
        type="application/json">{{ out += JSON.stringify(it.notFoundImageFileNames); }}</script>
{{#def.toolbar}}
{{#def.player}}
{{#def.customHeader}}
{{#def.searchAction}}
<div class="theTitle">
    <h1>{{=it.notFoundMessage}}</h1>
</div>
<script type="text/javascript">
    (function() {
        var notFoundImageFileNames = JSON.parse(lord.id("model-notFoundImageFileNames").innerHTML);
        if (notFoundImageFileNames.length > 0) {
            var model = lord.model("base");
            model.imageFileName = notFoundImageFileNames[Math.floor(Math.random() * notFoundImageFileNames.length)];
            document.open();
            document.write(lord.template("notFoundImage", model, true));
            document.close();
        }
    })();
</script>
{{#def.customFooter}}
</body>
</html>
