<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body {{#def.baseData}}>
{{#def.toolbar}}
{{#def.customHeader}}
<br />
{{#def.searchAction}}
<div class="theTitle">
    <h1>
        {{=it.title}}
    </h1>
</div>
<div id="playlist"></div>
{{#def.customFooter}}
</body>
</html>
