<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body class="{{=it.deviceType}}" {{#def.baseData}}>
{{? it.customHeader}}
    {{#def.customHeader}}
{{?}}
{{#def.toolbar}}
<br />
{{#def.searchAction}}
<div class="theTitle">
    {{? !it.error}}
        <h1>{{=it.resultsMessage}}</h1>
    {{??}}
        <h1>{{=it.errorMessage}}</h1>
    {{?}}
</div>
{{? !it.error}}
    {{? it.searchResults && it.searchResults.length > 0}}
        <ol>
            {{~it.searchResults :result}}
                <li>
                    <div>
                        <a href="/{{=it.site.pathPrefix}}{{=result.boardName}}/res/{{=result.threadNumber}}.html{{? result.threadNumber != result.postNumber}}#{{=result.postNumber}}{{?}}"
                                   target="_blank">{{!result.subject}}</a>
                    </div>
                    <div>
                        <span class="quotation">/{{=result.boardName}}/res/{{=result.threadNumber}}.html{{? result.threadNumber != result.postNumber}}#{{=result.postNumber}}{{?}}</span>
                    </div>
                    <div>
                        {{=result.text}}
                    </div>
                </li>
            {{~}}
        </ol>
    {{??}}
        <div class="sectionHeader">
            <h3>{{=it.nothingFoundMessage}}</h3>
        </div>
    {{?}}
{{?}}
{{? it.customFooter}}
    {{#def.customFooter}}
{{?}}
{{#def.extraData}}
</body>
</html>
