<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body class="{{=it.deviceType}}" {{#def.baseData}}>
{{? it.customHeader}}
    {{#def.customHeader}}
{{?}}
{{#def.toolbar}}
<br />
{{#def.searchAction}}
<div class="theTitle">
    <h1>
        {{=it.title}}
    </h1>
</div>
<form method="post" accept-charset="utf-8" action="/{{=it.site.pathPrefix}}action/changeSettings"
      enctype="multipart/form-data" class="inlineForm">
    {{#def.settingsTable}}
</form>
{{? it.customFooter}}
    {{#def.customFooter}}
{{?}}
{{#def.extraData}}
</body>
</html>
