<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body {{#def.baseData}}
      data-thread-number="{{=it.threadNumber}}"
      {{? it.thread.archived}}data-archived="true"{{?}}
      {{? it.thread.postingEnabled}}data-posting-enabled="true"{{?}}
      {{? it.thread.postLimitReached}}data-post-limit-reached="true"{{?}}
      {{? it.thread.bumpLimitReached}}data-bump-limit-reached="true"{{?}}>
<script id="model-postformRules" type="application/json">{{ out += JSON.stringify(it.postformRules); }}</script>
{{? it.site.vkontakte.integrationEnabled }}
    <script type="text/javascript">
        VK.init({ apiId: {{=it.site.vkontakte.appId}} });
    </script>
{{?}}
<div id="hiddenPostForm" style="display: none;"></div>
{{? it.board.captchaEnabled}}
    <div id="hiddenCaptcha" style="display: none;"></div>
{{?}}
{{~["top", "bottom"] :target}}
    {{#def.navigationButton}}
{{~}}
{{~["previous", "next"] :target}}
    {{#def.leafButton}}
{{~}}
<a id="top"></a>
{{#def.toolbar}}
{{#def.player}}
{{#def.customHeader}}
<br />
{{#def.searchAction}}
{{#def.banner}}
<div class="theTitle">
    <h1>{{!it.title}}</h1>
</div>
<script type="text/javascript">
    (function() {
        var model = lord.model(["tr", "board/" + lord.data("boardName")], true);
        model.settings = lord.settings();
        model.thread = {
            archived: lord.data("archived"),
            postingEnabled: lord.data("postingEnabled"),
            postLimitReached: lord.data("postLimitReached"),
            bumpLimitReached: lord.data("bumpLimitReached")
        };
        document.open();
        document.write(lord.template("threadPageUpper", model, true));
        document.close();
    })();
</script>
<hr />
{{~["Top"] :position}}
    {{#def.threadActions}}
{{~}}
<hr />
<div id="threads">
    {{~[it.thread] :thread}}
        <div id="thread{{=thread.opPost.number}}" class="thread"{{? thread.expanded}} data-expanded="true"{{?}}>
            {{~[thread.opPost] :post}}
                {{#def.post}}
            {{~}}
            {{? thread.omittedPosts > 0}}
                <div class="omittedPosts">
                    {{=it.tr.omittedPostsText}} {{=thread.omittedPosts}}   
                </div>
            {{?}}
            <div class="threadPosts">
                {{~thread.lastPosts :post}}
                    {{#def.post}}
                {{~}}
            </div>
        </div>
    {{~}}
</div>
<input id="afterAllPosts" type="hidden" />
<hr />
{{~["Bottom"] :position}}
    {{#def.threadActions}}
{{~}}
<script type="text/javascript">
    (function() {
        var model = lord.model(["tr", "board/" + lord.data("boardName")], true);
        model.settings = lord.settings();
        model.thread = {
            archived: lord.data("archived"),
            postingEnabled: lord.data("postingEnabled"),
            postLimitReached: lord.data("postLimitReached"),
            bumpLimitReached: lord.data("bumpLimitReached")
        };
        document.open();
        document.write(lord.template("threadPageLower", model, true));
        document.close();
    })();
</script>
{{#def.navbar}}
<a id="bottom"></a>
{{#def.customFooter}}
</body>
</html>
