<div class="vocarooContainer">
    <object height="140" width="220">
        <param name="movie" value="http://vocaroo.com/mediafoo.swf?playMediaID={{=it.info.id}}&autoplay=0"></param>
        <embed src="http://vocaroo.com/mediafoo.swf?playMediaID={{=it.info.id}}&autoplay=0" height="140" width="220"
               pluginspage="http://get.adobe.com/flashplayer/" type="application/x-shockwave-flash"></embed>
    </object>
</div>
