/*Neutron*/

.ui-tooltip {
    border: 1px solid #CCCCCC !important;
}

.ui-tooltip-content {
    font-family: Verdana,sans-serif;
    background-color: #D6DAF0;
}

.ui-tooltip-content::after {
    border-color: #CCCCCC transparent;
}

body  {
    background-color: #EEF2FF;
    font-family: Verdana,sans-serif;
}

a {
    color: #000000;
}

a.expandCollapse {
    color: #777777;
}

a:hover {
    color: #0066FF;
}

a.expandCollapse:hover {
    color: #444444;
}

hr {
    color: #808080;
    border: 1px solid #808080;
    border-top: 1px solid #DDDDDD;
    height: 1px;
    clear: both;
}

.select {
    background: #EAEAEA;
    border: 1px solid #CCCCCC;
}

.selectOption {
    background: #9988EE;
}

.input {
    border: 1px solid #CCCCCC;
}

.button {
    background: #EAEAEA;
    border: 1px solid #CCCCCC;
}

.checkbox {
    background: #EAEAEA;
    border: 1px solid #CCCCCC;
}

.popup {
    background-color: #D6DAF0;
    border: 1px solid #BBBBBB;
}

.critical {
    color: red;
    border: 1px dotted red;
}

.warning {
    color: #FF6600;
    border: 1px dotted #FF6600;
}

.favorites {
    background-color: #EEF2FF;
}

.favorites > div {
    background-color: #D6DAF0;
    border: 1px solid #CCCCCC;
}

.scrollAreaH60 {
    border: 1px solid #CCCCCC;
}

.postSequenceNumber {
    color: green;
}

.hiddenPostList > div:nth-child(even) {
    background-color: #D6DAF0;
}

.ban {
    background-color: #D6DAF0;
}

span.spoiler, span.spoiler a, span.spoiler .cspoilerTitle, span.spoiler .quotation {
    background: #9AD2F6;
    color: #9AD2F6;
}

span.spoiler:hover {
    color: #333333;
}

span.spoiler:hover a {
    color: #000000;
}

span.spoiler:hover .cspoilerTitle {
    color: #304070;
}

span.spoiler:hover .quotation {
    color: #789922;
}

.spoilerMarkupButton {
    background-color: #EEF2FF;
}

.spoilerMarkupButton.spoiler {
    color: #333333;
}

span.tooltip {
    color: #304070;
}

span.newPostCount {
    color: green;
}

.postLimitReached {
    color: red;
}

.bumpLimitReached {
    color: olive;
}

.quotation {
    color: #789922;
}

.cspoilerTitle {
    color: #304070;
}

.cspoilerBody {
    background-color: #D6DAF0;
    border: 1px solid #CCCCCC;
}

.catalogContainer {
    color: #333333;
}

.catalogItem {
    background-color: #D6DAF0;
    color: #333333;
}

.opSign {
    color: green;
}

.error {
    background-color: #D6DAF0;
}

.rules {
    background-color: #D6DAF0;
    border: 1px solid #CCCCCC;
}

.news {
    background-color: #D6DAF0;
}

.post {
    background-color: #D6DAF0;
    border: 1px solid #CCCCCC;
}

.draft {
    background-color: #D6DAF0;
    border: 1px solid #CCCCCC;
}

.newPost {
    background-color: #CDCDCD;
}

.post:target, .opPost:target {
    background-color: #B0B0FF;
}

.post.temporary {
    border: 1px solid #000000;
}

.postFileSize {
    color: #444444;
}

.menu {
    background: #D6DAF0 !important;
    border: 1px solid #BBBBBB !important;
    font-family: Verdana,sans-serif !important;
}

.bannedFor {
    color: red;
}

.modificationDateTime {
    font-style: italic;
}

.postSubject {
    font-weight: bold;
}

.tripcode {
    color: green;
}

.moderName {
    font-weight: bold;
    color: blue;
}

.postformFile.drag {
    background-color: #DDDDDD;
    border: 1px dashed #555555;
}

.referencedBy {
    color: #555555;
}

ul.tabWidget > li {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
}

ul.tabWidget > li > a {
    color: black;
}

ul.tabWidget > li.activated {
    background-color: #AAAAAA;
}

.toolbar.sticky {
    background-color: #EEF2FF;
}

.vote {
    background-color: #CCCCCC;
    border: 1px solid #BBBBBB;
}

.voteText {
    font-weight: bold;
}

.voteCount {
    font-style: italic;
}

.track {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
}

.chatContact:hover {
    color: #FFFFFF;
    background-color: #666666;
}

.chatContact.selected {
    color: #000000;
    background-color: #DDDDDD;
}

.chatContact.selected:hover {
    color: #FFFFFF;
    background-color: #666666;
}

.chatContactNewMessages {
    color: red;
}

.chatTarget {
    background-color: #D6DAF0;
}

.chatHistory {
    border: 1px solid black;
}

.chatMessage {
    border: 1px solid black;
    background-color: #D6DAF0;
}

.chatMessageDate {
    border-bottom: 1px dotted black;
}

.bordered {
    border: 1px solid #CCCCCC;
}

.submitContainer > input {
    border-color: #000000;
}
