/*Burichan*/
.invert {
  filter: invert(0);
  -webkit-filter: invert(0);
}
.no-invert {
  filter: invert(0);
  -webkit-filter: invert(0);
}
body {
  font-size: inherit;
  font-weight: normal;
  color: #000000;
  background-color: #EEF2FF;
}
hr {
  height: 1px;
  border: none;
  color: #808080;
  background-color: #808080;
}
.section-body {
  background-color: #D6DAF0;
  border: 1px solid #CCCCCC;
  border-radius: 0px;
}
.page-title {
  color: #AF0A0F;
}
.widget {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #EEF2FF;
}
.widget-header {
  border: 1px solid #BBBBBB;
  border-radius: 0px;
  background-color: #D6DAF0;
}
.tab-widget-header > li {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #D6DAF0;
}
.tab-widget-header > li.tab-widget-header-activated {
  background-color: #CDCDCD;
}
.tab-widget-header > li:hover {
  background-color: #EEDACB;
}
.popup {
  background-color: #D6DAF0;
  border: 1px solid #BBBBBB;
  border-radius: 0px;
}
.warning {
  color: #E08000;
  border: 1px dotted #E08000;
}
.critical {
  color: #FF0000;
  border: 1px dotted #FF0000;
}
.button {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #EEF2FF;
}
.input {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #EEF2FF;
}
.select {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #EEF2FF;
}
.select > option {
  background-color: #EEF2FF;
  filter: invert(0);
  -webkit-filter: invert(0);
}
button,
input:not([type='image']),
select {
  border-radius: 0px;
}
.bordered {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
}
.menu {
  border-radius: 0px;
  background-color: #EEF2FF;
}
.menu > li {
  border-radius: 0px;
}
.button-icon {
  filter: invert(0);
  -webkit-filter: invert(0);
}
.sign-icon {
  filter: invert(0);
  -webkit-filter: invert(0);
}
/* Navbar */
.sidebar,
.toolbar {
  background-color: #EEF2FF;
}
.sidebar {
  border-right: 1px solid #CCCCCC;
}
.toolbar {
  border-bottom: 1px solid #CCCCCC;
}
.sidebar-content {
  border-top: 1px solid #CCCCCC;
}
.sidebar-group {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
}
.sidebar-group-title {
  font-weight: bold;
  background-color: #D6DAF0;
  border-bottom: 1px solid #CCCCCC;
  border-radius: 0px;
}
.toolbar-group-title {
  font-weight: bold;
  border-bottom: 1px dashed #000000;
}
.drop-area {
  border: 1px solid #000000;
  background-color: #EEDACB;
}
.notification-button::after {
  color: #008000;
}
/* Chat */
.chat-contact-list,
.chat-messaging-area {
  border: 1px solid #CCCCCC;
}
.chat-contact {
  background-color: #D6DAF0;
}
.chat-contact.chat-contact-selected {
  background-color: #CDCDCD;
}
.chat-contact:hover {
  background-color: #EEDACB;
}
.chat-contact-new-messages {
  color: #008000;
}
.chat-message {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #D6DAF0;
}
.chat-message.chat-message-unread {
  background-color: #CDCDCD;
}
.chat-message-header {
  border-bottom: 1px dotted #BBBBBB;
}
/* Board */
.catalog-thread {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #D6DAF0;
}
.search-result-highlighted {
  background-color: #FFFF00;
}
.favorite {
  background-color: #D6DAF0;
  border: 1px solid #CCCCCC;
}
.board-select {
  filter: invert(0);
  -webkit-filter: invert(0);
}
/* Post form */
.post-form {
  background-color: #EEF2FF;
}
.post-form-header {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #D6DAF0;
}
.post-form-submit-button {
  border: 1px solid #000000;
}
.file-input {
  border: 1px dashed #BBBBBB;
}
.file-input .drag {
  border: 1px dashed #000000;
  background-color: #D6DAF0;
}
/* Post */
.post {
  border-radius: 0px;
}
.post.reply-post .post-internal-wrapper {
  border: 1px solid #CCCCCC;
  background-color: #D6DAF0;
}
.post.new-post .post-internal-wrapper {
  background-color: #CDCDCD;
}
.post.temporary-post .post-internal-wrapper {
  border: 1px solid #000000;
}
.post:target .post-internal-wrapper {
  background-color: #EEDACB;
}
.new-post-count {
  color: #008000;
}
.post-file-size {
  color: #444444;
}
.message-bump-limit-reached {
  color: #FF0000;
}
.message-post-limit-reached {
  color: #E08000;
}
.post-subject {
  color: #002244;
  font-weight: bold;
}
.post-name {
  color: #000000;
  font-weight: normal;
}
.post-name.post-name-moder {
  color: #0000FF;
  font-weight: bold;
}
.hiding-reason {
  font-weight: bold;
}
.op-sign,
.post-sequence-number,
.tripcode {
  color: #008000;
}
.modification-date-time {
  font-style: italic;
}
.referring-posts {
  color: #444444;
  font-style: italic;
}
.banned-for {
  color: #FF0000;
}
/* Markup */
a {
  color: #000000;
}
a:hover {
  color: #DD0000;
}
.spoiler {
  color: #9AD2F6;
  background-color: #9AD2F6;
}
.spoiler:hover {
  color: #000000;
}
.quotation {
  color: #789922;
}
.collapsible-spoiler-title {
  color: #444444;
}
.collapsible-spoiler-title:hover {
  color: #666666;
}
.expandable {
  color: #444444;
}
.expandable:hover {
  color: #666666;
}
.tooltip {
  color: #444444;
}
.tooltip:hover {
  color: #666666;
}
.collapsible-spoiler-body {
  border-radius: 0px;
  background-color: #CDCDCD;
}
/* Player */
.player {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #EEF2FF;
}
.player.minimized {
  background-color: #D6DAF0;
}
.player-header {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #D6DAF0;
}
.player-track {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #D6DAF0;
}
.player-track .selected {
  background-color: #EEDACB;
}
.player-track .selected .player-track-info {
  font-weight: bold;
}
.player-track:hover {
  border: 1px solid #CCCCCC;
  background-color: #CDCDCD;
}
/* jQuery UI */
.ui-widget-content {
  border: 1px solid #CCCCCC;
  color: #000000;
}
.ui-widget-header {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: #D6DAF0;
  color: #000000;
}
.ui-widget-content a,
.ui-widget-header a,
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #000000;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #CCCCCC;
  color: #000000;
  background-color: #EEF2FF;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #CCCCCC;
  background-color: #EEDACB;
  color: #000000;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 0px;
}
.ui-widget-overlay {
  background: #EEF2FF;
}
.ui-widget-shadow {
  margin: 0px 0 0 0px;
  padding: 0px;
  background: #EEF2FF;
  border-radius: 0px;
}
.ui-icon {
  filter: invert(0);
  -webkit-filter: invert(0);
}
.ui-tooltip {
  background-color: #EEF2FF;
}
.ui-tooltip-content::after {
  border-color: #CCCCCC transparent;
}
.ui-slider,
.ui-slider-handle {
  border: 1px solid #000000 !important;
}

/*# sourceMappingURL=burichan.css.map */
