body {
    font-size: 14.4px;
}

input, select {
    font-size: 14.4px;
}

.navbar.navbarFrame {
    font-size: 1em;
}

.postHeader {
    white-space: nowrap;
}

.postFileSize {
    font-size: 0.8em;
}

.postFileSearch {
    padding-bottom: 4px;
}

.searchAction > form {
    width: 50%;
}

.searchActionInput {
    width: calc(100% - 30px);
}

.searchActionOptionsContainer {
    width: calc(100% - 44px);
}

.externalThreadFrame {
    width: 300px;
    height: 400px;
}

.loginDescription {
    max-width: 80%;
    margin-left: 10%;
}

.postFilesInner {
    display: table;
}

.postFilesInnerRow {
    display: table;
}

.postFilesInnerBlock {
    display: block;
}

.postFilesInnerRowBlock {
    display: block;
}

.postText {
    display: table-cell;
}

.postFile {
    display: table-cell;
}

.postFileInlineBlock {
    display: inline-block;
}

.postToThreadMobile {
    display: none;
}

#player {
    width: 400px;
}

.playerMinimizedActionsDesktop {
    display: inline-block;
}

.playerMinimizedActionsMobile {
    display: none;
}

#playerTrackInfo {
    font-size: 1.2em;
}

#playerDurationSlider {
    width: calc(75% - 12px);
}

#playerVolumeSlider {
    display: inline-block;
    width: calc(25% - 12px);
}

#playerTrackTags {
    font-size: 1.2em;
}

.movablePlayerConstrolsSliders {
    width: calc(100% - 44px);
}

.movablePlayerDurationSlider {
    width: calc(75% - 12px);
}

.movablePlayerVolumeSlider {
    display: inline-block;
    width: calc(25% - 12px);
}

.chatContactList {
    min-width: 150px;
    max-width: 150px;
}

.chatHistory {
    min-width: 400px;
    max-width: 400px;
    min-height: 600px;
    max-height: 600px;
}

.registeredUserHeader {
    font-size: 1.1em;
}

.registeredUserHashpassInput {
    box-sizing: border-box;
    width: 400px;
}

.registeredUserIpsInput {
    box-sizing: border-box;
    width: 400px;
}

.banExpiresInput {
    width: 120px;
}

.contentFileTreeColumn {
    display: inline-block;
}

.contentFileActionColumn {
    display: inline-block;
    vertical-align: top;
}

#contentFileTree {
    min-width: 300px;
    height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    box-sizing: border-box;
}

.frameList {
    width: 240px;
}

.frameContent {
    width: calc(100% - 248px);
}

#sidebar {
    z-index: 1;
}

#sidebarContent {
    top: 25px;
    height: calc(100% - 25px);
}
