/*Futaba*/
.invert {
  filter: invert(0);
  -webkit-filter: invert(0);
}
.no-invert {
  filter: invert(0);
  -webkit-filter: invert(0);
}
body {
  font-size: inherit;
  font-weight: normal;
  color: #800000;
  background-color: #FFFFEE;
}
.section-body {
  background-color: #F0E0D6;
  border: 1px solid #D0C0B6;
  border-radius: 0px;
}
.page-title {
  color: #800000;
}
.widget {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
  background-color: #FFFFEE;
}
.widget-header {
  border: 1px solid #C0B0A6;
  border-radius: 0px;
  background-color: #F0E0D6;
}
.tab-widget-header > li {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
  background-color: #F0E0D6;
}
.tab-widget-header > li.tab-widget-header-activated {
  background-color: #D0C0B6;
}
.tab-widget-header > li:hover {
  background-color: #FFCC11;
}
.popup {
  background-color: #F0E0D6;
  border: 1px solid #C0B0A6;
  border-radius: 0px;
}
.warning {
  color: #E08000;
  border: 1px dotted #E08000;
}
.critical {
  color: #FF0000;
  border: 1px dotted #FF0000;
}
.button {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
  background-color: #FFFFEE;
}
.input {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
  background-color: #FFFFEE;
}
.select {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
  background-color: #FFFFEE;
}
.select > option {
  background-color: #FFFFEE;
  filter: invert(0);
  -webkit-filter: invert(0);
}
button,
input:not([type='image']),
select {
  border-radius: 0px;
}
.bordered {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
}
.menu {
  border-radius: 0px;
  background-color: #FFFFEE;
}
.menu > li {
  border-radius: 0px;
}
.button-icon {
  filter: invert(0);
  -webkit-filter: invert(0);
}
.sign-icon {
  filter: invert(0);
  -webkit-filter: invert(0);
}
/* Navbar */
.sidebar,
.toolbar {
  border-right: 1px solid #D0C0B6;
  background-color: #FFFFEE;
}
.sidebar-content {
  border-top: 1px solid #D0C0B6;
}
.sidebar-group {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
}
.sidebar-group-title {
  font-weight: bold;
  background-color: #F0E0D6;
  border-bottom: 1px solid #D0C0B6;
  border-radius: 0px;
}
.toolbar-group-title {
  font-weight: bold;
  border-bottom: 1px dashed #C0B0A6;
}
.drop-area {
  border: 1px solid #800000;
  background-color: #FFCC11;
}
.notification-button::after {
  color: #117743;
}
/* Chat */
.chat-contact-list,
.chat-messaging-area {
  border: 1px solid #D0C0B6;
}
.chat-contact {
  background-color: #F0E0D6;
}
.chat-contact.chat-contact-selected {
  background-color: #D0C0B6;
}
.chat-contact:hover {
  background-color: #FFCC11;
}
.chat-contact-new-messages {
  color: #117743;
}
.chat-message {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
  background-color: #F0E0D6;
}
.chat-message.chat-message-unread {
  background-color: #D0C0B6;
}
.chat-message-header {
  border-bottom: 1px dotted #C0B0A6;
}
/* Board */
.catalog-thread {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
  background-color: #F0E0D6;
}
.search-result-highlighted {
  background-color: #FFFF00;
}
.favorite {
  background-color: #F0E0D6;
  border: 1px solid #D0C0B6;
}
.board-select {
  filter: invert(0);
  -webkit-filter: invert(0);
}
/* Post form */
.post-form {
  background-color: #FFFFEE;
}
.post-form-header {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
  background-color: #F0E0D6;
}
.post-form-submit-button {
  border: 1px solid #0000EE;
}
.file-input {
  border: 1px dashed #C0B0A6;
}
.file-input .drag {
  border: 1px dashed #800000;
  background-color: #F0E0D6;
}
/* Post */
.post {
  border-radius: 0px;
}
.post.reply-post .post-internal-wrapper {
  border: 1px solid #D0C0B6;
  background-color: #F0E0D6;
}
.post.new-post .post-internal-wrapper {
  background-color: #D0C0B6;
}
.post.temporary-post .post-internal-wrapper {
  border: 1px solid #800000;
}
.post:target .post-internal-wrapper {
  background-color: #FFCC11;
}
.new-post-count {
  color: #117743;
}
.post-file-size {
  color: #800000;
}
.message-bump-limit-reached {
  color: #FF0000;
}
.message-post-limit-reached {
  color: #E08000;
}
.post-subject {
  font-weight: bold;
}
.post-name {
  color: #117743;
  font-weight: bold;
}
.post-name.post-name-moder {
  color: #0000FF;
  font-weight: bold;
}
.hiding-reason {
  font-weight: bold;
}
.op-sign,
.post-sequence-number,
.tripcode {
  color: #117743;
}
.modification-date-time {
  font-style: italic;
}
.referring-posts {
  color: #800000;
  font-style: italic;
}
.banned-for {
  color: #FF0000;
}
/* Markup */
a {
  color: #0000EE;
}
a:hover {
  color: #DD0000;
}
.spoiler {
  color: #F0D0B6;
  background-color: #F0D0B6;
}
.spoiler:hover {
  color: #800000;
}
.quotation {
  color: #789922;
}
.collapsible-spoiler-title {
  color: #6666CC;
}
.collapsible-spoiler-title:hover {
  color: #FF2222;
}
.expandable {
  color: #6666CC;
}
.expandable:hover {
  color: #FF2222;
}
.tooltip {
  color: #6666CC;
}
.tooltip:hover {
  color: #FF2222;
}
.collapsible-spoiler-body {
  border-radius: 0px;
  background-color: #D0C0B6;
}
/* Player */
.player {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
  background-color: #FFFFEE;
}
.player.minimized {
  background-color: #F0E0D6;
}
.player-header {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
  background-color: #F0E0D6;
}
.player-track {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
  background-color: #F0E0D6;
}
.player-track .selected {
  background-color: #FFCC11;
}
.player-track .selected .player-track-info {
  font-weight: bold;
}
.player-track:hover {
  border: 1px solid #D0C0B6;
  background-color: #D0C0B6;
}
/* jQuery UI */
.ui-widget-content {
  border: 1px solid #D0C0B6;
  color: #800000;
}
.ui-widget-header {
  border: 1px solid #D0C0B6;
  border-radius: 0px;
  background-color: #F0E0D6;
  color: #800000;
}
.ui-widget-content a,
.ui-widget-header a,
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #800000;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #D0C0B6;
  color: #800000;
  background-color: #FFFFEE;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #D0C0B6;
  background-color: #FFCC11;
  color: #800000;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 0px;
}
.ui-widget-overlay {
  background: #FFFFEE;
}
.ui-widget-shadow {
  margin: 0px 0 0 0px;
  padding: 0px;
  background: #FFFFEE;
  border-radius: 0px;
}
.ui-icon {
  filter: invert(0);
  -webkit-filter: invert(0);
}
.ui-tooltip {
  background-color: #FFFFEE;
}
.ui-tooltip-content::after {
  border-color: #D0C0B6 transparent;
}
.ui-slider,
.ui-slider-handle {
  border: 1px solid #800000 !important;
}

/*# sourceMappingURL=futaba.css.map */
