/*Futaba*/

.ui-tooltip {
    border: none !important;
}

.ui-tooltip-content {
    background-color: #F0E0D6;
    color: #800000;
}

.ui-tooltip-content::after {
    border-color: #F0E0D6 transparent;
}

body  {
    background-color: #FFFFEE;
    color: #800000;
}

a {
    color: #0000EE;
}

a.expandCollapse {
    color: #444444;
}

a:hover {
    color: #DD0000;
}

a.expandCollapse:hover {
    color: #666666;
}

hr {
    color: #808080;
    clear: both;
}

.popup {
    background-color: #F0E0D6;
}

.critical {
    color: red;
    border: 1px dotted red;
}

.warning {
    color: #FF6600;
    border: 1px dotted #FF6600;
}

.favorites {
    background-color: #FFFFEE;
}

.favorites > div {
    background-color: #F0E0D6;
}

.scrollAreaH60 {
    border: 1px solid #800000;
}

.postSequenceNumber {
    color: red;
}

.hiddenPostList > div:nth-child(even) {
    background-color: #FFFFEE;
}

.ban {
    background-color: #F0E0D6;
}

span.spoiler, span.spoiler a, span.spoiler .cspoilerTitle, span.spoiler .quotation {
    background: #F0D0B6;
    color: #F0D0B6;
}

span.spoiler:hover {
    color: #800000;
}

span.spoiler:hover a {
    color: #DD0000;
}

span.spoiler:hover .cspoilerTitle {
    color: #E08060;
}

span.spoiler:hover .quotation {
    color: #789922;
}

.spoilerMarkupButton {
    background-color: #FFFFEE;
    color: #800000;
}

.spoilerMarkupButton.spoiler {
    color: #800000;
}

span.tooltip {
    color: #E08060;
}

span.newPostCount {
    color: red;
}

.postLimitReached {
    color: red;
}

.bumpLimitReached {
    color: olive;
}

.quotation {
    color: #789922;
}

.cspoilerTitle {
    color: #E08060;
}

.cspoilerBody {
    background-color: #F0D0B6;
}

.catalogContainer {
    color: #800000;
}

.catalogItem {
    background-color: #F0E0D6;
    color: #800000;
}

.opSign {
    color: red;
}

.error {
    background-color: #F0E0D6;
    color: #800000;
}

.rules {
    background-color: #F0E0D6;
}

.news {
    background-color: #F0E0D6;
}

.post {
    background-color: #F0E0D6;
}

.draft {
    background-color: #F0E0D6;
}

.newPost {
    background-color: #CCCCCC;
}

.post:target, .opPost:target {
    background-color: #AAFF99;
}

.post.temporary {
    border: 1px solid #000000;
}

.postFileSize {
    color: #800000;
}

.menu {
    background: #F0E0D6 !important;
    border: 1px solid #000000 !important;
    color: #800000 !important;
    font-family: Verdana,sans-serif !important;
}

.bannedFor {
    color: red;
}

.modificationDateTime {
    font-style: italic;
}

.postSubject {
    font-weight: bold;
    color: #CC1105;
}

.tripcode {
    color: green;
}

.moderName {
    font-weight: bold;
    color: blue;
}

.userName {
    font-weight: bold;
    color: #117743;
}

.postformFile.drag {
    background-color: #F0E0D6;
    border: 1px dashed #555555;
}

.referencedBy {
    color: #707070;
}

ul.tabWidget > li {
    background-color: #F0E0D6;
}

ul.tabWidget > li > a {
    color: #800000;
}

ul.tabWidget > li.activated {
    background-color: #FFFFEE;
}

.toolbar.sticky {
    background-color: #FFFFEE;
}

.vote {
    background-color: #F0D0B6;
}

.voteText {
    font-weight: bold;
}

.voteCount {
    font-style: italic;
}

.track {
    background-color: #F0E0D6;
}

.chatContact:hover {
    color: #800000;
    background: #F0D0B6;
}

.chatContact.selected {
    color: #000000;
    background: #F0D0B6;
}

.chatContact.selected:hover {
    color: #800000;
    background: #F0D0B6;
}

.chatContactNewMessages {
    color: red;
}

.chatTarget {
    background-color: #F0E0D6;
}

.chatHistory {
    border: 1px solid black;
}

.chatMessage {
    border: 1px solid black;
    border-radius: 6px;
    background-color: #F0E0D6;
    color: #800000;
}

.chatMessageDate {
    border-bottom: 1px dotted black;
}

.bordered {
    border: 1px solid #F0E0D6;
}

.submitContainer > input {
    border-color: #0000EE;
}

.hideReason {
    font-weight: bold;
}
