/*Neutron*/

.ui-tooltip {
    border: 1px solid #575757 !important;
}

.ui-tooltip-content {
    background-color: #2C2C2C;
    color: #698CC0;
    font-family: "Trebuchet MS",Trebuchet,tahoma,serif;
}

.ui-tooltip-content::after {
    border-color: #575757 transparent;
}

.ui-state-active > .ui-button-text > .signImage {
    -webkit-filter: invert(0);
    -moz-filter: invert(0);
    -ms-filter: invert(0);
    -o-filter: invert(0);
    filter: invert(0);
}

.ui-slider {
    border-radius: 0px !important;
    border: 1px solid #698CC0 !important;
}

.ui-slider-handle {
    border-radius: 0px !important;
    border: 1px solid #698CC0 !important;
}

body  {
    background-color: #212121;
    color: #698CC0;
    font-family: "Trebuchet MS",Trebuchet,tahoma,serif;
}

a {
    color: #C9BE89;
}

a.expandCollapse {
    color: #AAAAAA;
}

a:hover {
    color: #EEFEBB;
}

a.expandCollapse:hover {
    color: #CCCCCC;
}

hr {
    height: 3px;
    border-width: 0px;
    background: url("../img/neutron_line.png") center no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.select {
    background-color: #111111;
    border: 2px solid #545454;
    border-radius: 5px;
    color: #EEEEEE;
}

.selectOption {
    background-color: #111111;
    color: #EEEEEE;
    -webkit-filter: invert(0);
    -moz-filter: invert(0);
    -ms-filter: invert(0);
    -o-filter: invert(0);
    filter: invert(0);
}

.input {
    background-color: #111111;
    border: 2px solid #545454;
    border-radius: 5px;
}

.popup {
    background-color: #DDEDAA;
}

.critical {
    color: red;
    border: 1px dotted red;
}

.warning {
    color: #FF6600;
    border: 1px dotted #FF6600;
}

.favorites {
    background-color: #212121;
}

.favorites > div {
    background-color: #2C2C2C;
    border: 1px solid #575757;
}

.scrollAreaH60 {
    border: 1px solid #698CC0;
}

.postSequenceNumber {
    color: red;
}

.hiddenPostList > div:nth-child(even) {
    background-color: #212121;
}

.ban {
    background-color: #2C2C2C;
}

span.spoiler, span.spoiler a, span.spoiler .cspoilerTitle, span.spoiler .quotation {
    background: #575757;
    color: #575757;
}

span.spoiler:hover {
    color: #48B0FD;
}

span.spoiler:hover a {
    color: #EEFEBB;
}

span.spoiler:hover > span[data-video-id] > a.expandCollapse {
    color: #AAAAAA;
}

span.spoiler:hover > span[data-video-id] > a.expandCollapse:hover {
    color: #CCCCCC;
}

span.spoiler:hover .cspoilerTitle {
    color: #E08060;
}

span.spoiler:hover .quotation {
    color: #789922;
}

.spoilerMarkupButton {
    background-color: #212121;
    color: #698CC0;
}

.spoilerMarkupButton.spoiler {
    color: #48B0FD;
}

span.tooltip {
    color: #E08060;
}

span.newPostCount {
    color: red;
}

.postLimitReached {
    color: red;
}

.bumpLimitReached {
    color: olive;
}

.quotation {
    color: #789922;
}

.cspoilerTitle {
    color: #E08060;
}

.cspoilerBody {
    background-color: #DDEDAA;
}

.catalogContainer {
    color: #698CC0;
}

.catalogItem {
    background-color: #2C2C2C;
    border: 1px solid #575757;
    color: #698CC0;
}

.opSign {
    color: red;
}

.error {
    background-color: #2C2C2C;
    color: #698CC0;
}

.sectionBody {
    background-color: #2C2C2C;
}

.post {
    background-color: #2C2C2C;
    border: 1px solid #575757;
    border-radius: 5px;
}

.draft {
    background-color: #2C2C2C;
    border: 1px solid #575757;
}

.post:not(.hidden) {
    background: url("../favicon.ico") right bottom no-repeat;
    background-color: #2C2C2C;
}

.newPost {
    background-color: #3C3C3C;
}

.post:target, .opPost:target {
    background-color: #004A58;
}

.post.temporary {
    background-color: #2C2C2C;
    border: 1px solid #000000;
}

.postFileSize {
    color: #698CC0;
}

.menu {
    background: #212121 !important;
    color: #698CC0 !important;
    border: 1px solid #575757 !important;
    font-family: "Trebuchet MS",Trebuchet,tahoma,serif !important;
}

.bannedFor {
    color: red;
}

.modificationDateTime {
    font-style: italic;
}

.postSubject {
    font-weight: bold;
    color: #3941AC;
}

.tripcode {
    color: green;
}

.moderName {
    font-weight: bold;
    color: blue;
}

.postformFile.drag {
    background-color: #DDEDAA;
    border: 1px dashed #555555;
}

.referencedBy {
    color: #707070;
}

ul.tabWidget > li {
    background-color: #2C2C2C;
    border: 1px solid #575757;
    border-radius: 5px;
}

ul.tabWidget > li > a {
    color: #698CC0;
}

ul.tabWidget > li.activated {
    background-color: #DDEDAA;
}

ul.tabWidget > li.activated > a {
    color: black;
}

.toolbar.sticky {
    background-color: #212121;
}

.vote {
    background-color: #DDEDAA;
}

.voteText {
    font-weight: bold;
}

.voteCount {
    font-style: italic;
}

.chatContactList {
    border: 1px solid #575757;
}

.chatContact:hover {
    color: #48B0FD;
    background-color: #575757;
}

.chatContact.selected {
    color: #FFFFFF;
    background-color: #666666;
}

.chatContact.selected:hover {
    color: #48B0FD;
    background-color: #575757;
}

.chatContactNewMessages {
    color: red;
}

.chatTarget {
    color: #FFFFFF;
    background-color: #666666;
}

.chatHistory {
    border: 1px solid #575757;
}

.chatMessage {
    border: 1px solid #575757;
    border-radius: 6px;
    color: #698CC0;
    background-color: #2C2C2C;
}

.chatMessageDate {
    border-bottom: 1px dotted black;
}

.bordered {
    border: 1px solid #575757;
}

.invertableImage, .buttonImage, .signImage, .boardSelect {
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -ms-filter: invert(1);
    -o-filter: invert(1);
    filter: invert(1);
}

.noInvert {
    -webkit-filter: invert(0);
    -moz-filter: invert(0);
    -ms-filter: invert(0);
    -o-filter: invert(0);
    filter: invert(0);
}

input:not([type='image']) { /*Yep, this is NOT a class*/
    background-color: #111111;
    border: 2px solid #545454;
    border-radius: 5px;
    color: #EEEEEE;
}

textarea {
    background-color: #111111;
    border: 2px solid #545454;
    border-radius: 5px;
    color: #EEEEEE;
}

.submitContainer > input {
    border-color: #C9BE89;
}

.hideReason {
    font-weight: bold;
}

#player {
    background-color: #212121;
    border: 1px solid #575757;
    border-radius: 5px;
}

#player.minimized {
    background-color: #2C2C2C;
}

.playerHeader {
    background-color: #2C2C2C;
    border: 1px solid #575757;
    border-radius: 5px;
}

.track {
    background-color: #2C2C2C;
    border: 1px solid #575757;
    border-radius: 5px;
}

.track:hover {
    background-color: #AABA77;
    border: 1px solid #545454;
}

.track.selected {
    background-color: #DDEDAA;
    border: 1px solid #000000;
}

.track:hover > span > a > img {
    -webkit-filter: invert(0);
    -moz-filter: invert(0);
    -ms-filter: invert(0);
    -o-filter: invert(0);
    filter: invert(0);
}

.track.selected > span > a > img {
    -webkit-filter: invert(0);
    -moz-filter: invert(0);
    -ms-filter: invert(0);
    -o-filter: invert(0);
    filter: invert(0);
}

.track.selected > .trackInfo {
    font-weight: bold;
}

.movablePlayer {
    border-radius: 5px;
}

.movablePlayerControls {
    border-radius: 5px;
}

.bannedUserHeader {
    font-weight: bold;
}

.registeredUserHeader {
    font-weight: bold;
}

.searchResult {
    background-color: #2C2C2C;
    border: 1px solid #575757;
    border-radius: 5px;
}

.searchResultHighlighted {
    background-color: darkred;
}

.delallHeader {
    font-weight: bold;
}

ul.jqueryFileTree a {
    color: #698CC0 !important;
}

.searchAction > form {
    background-color: #2C2C2C;
    border: 1px solid #575757;
    border-radius: 5px;
}

#sidebar {
    background-color: #212121;
    border-right: 1px solid #575757;
}

#sidebarContent {
    border-top: 1px solid #575757;
}

#postForm {
    background-color: #212121;
}

#postForm.floatingPostForm {
    border: 2px solid #575757;
    border-radius: 5px;
}

.postFormHeader {
    background-color: #2C2C2C;
    border: 1px solid #575757;
    border-radius: 5px;
}

#postForm.floatingPostForm > .postFormHeader {
    border: none;
    border-bottom: 1px solid #575757;
}
