/*Photon Classic*/

.ui-tooltip {
    border: 1px solid #CCCCCC !important;
}

.ui-tooltip-content {
    font-family: "Trebuchet MS", Trebuchet, tahoma, serif;
    background-color: #DDDDDD;
}

.ui-tooltip-content::after {
    border-color: #CCCCCC transparent;
}

.ui-slider {
    border: 1px solid black !important;
}

.ui-slider-handle {
    border: 1px solid black !important;
}

body  {
    background-color: #EEEEEE;
    font-family: "Trebuchet MS", Trebuchet, tahoma, serif;
    font-size: inherit;
}

a {
    color: #FF6600;
}

a.expandCollapse {
    color: #444444;
}

a:hover {
    color: #0066FF;
}

a.expandCollapse:hover {
    color: #777777;
}

hr {
    color: #CCCCCC;
    background-color: #CCCCCC;
    border: 0px none;
    height: 1px;
    clear: both;
}

.select {
    background: #EAEAEA;
    border: 1px solid #CCCCCC;
}

.selectOption {
    background: #EAEAEA;
}

.input {
    border: 1px solid #CCCCCC;
}

.button {
    background: #EAEAEA;
    border: 1px solid #CCCCCC;
}

.checkbox {
    background: #EAEAEA;
    border: 1px solid #CCCCCC;
}

.popup {
    background-color: #DDDDDD;
    border: 1px solid #BBBBBB;
}

.critical {
    color: red;
    border: 1px dotted red;
}

.warning {
    color: #FF6600;
    border: 1px dotted #FF6600;
}

.favorites {
    background-color: #EEEEEE;
}

.favorites > div {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
}

.scrollAreaH60 {
    border: 1px solid #CCCCCC;
}

.postSequenceNumber {
    color: #0066FF;
}

.hiddenPostList > div:nth-child(even) {
    background-color: #EEEEEE;
}

.ban {
    background-color: #DDDDDD;
}

span.spoiler, span.spoiler a, span.spoiler .cspoilerTitle, span.spoiler .quotation {
    background: #BBBBBB;
    color: #BBBBBB;
}

span.spoiler:hover {
    color: #333333;
}

span.spoiler:hover a {
    color: #FF6600;
}

span.spoiler:hover > span[data-video-id] > a.expandCollapse {
    color: #444444;
}

span.spoiler:hover > span[data-video-id] > a.expandCollapse:hover {
    color: #777777;
}

span.spoiler:hover .cspoilerTitle {
    color: #304070;
}

span.spoiler:hover .quotation {
    color: #789922;
}

.spoilerMarkupButton {
    background-color: #EEEEEE;
}

.spoilerMarkupButton.spoiler {
    color: #333333;
}

span.tooltip {
    color: #304070;
}

span.newPostCount {
    color: green;
}

.postLimitReached {
    color: red;
}

.bumpLimitReached {
    color: olive;
}

.quotation {
    color: #789922;
}

.cspoilerTitle {
    color: #304070;
}

.cspoilerBody {
    background-color: #BBBBBB;
    border: 1px solid #CCCCCC;
}

.catalogContainer {
    color: #333333;
}

.catalogItem {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
    color: #333333;
}

.opSign {
    color: green;
}

.error {
    background-color: #DDDDDD;
}

.sectionBody {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
}

.post {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
}

.draft {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
}

.newPost {
    background-color: #CDCDCD;
}

.post:target, .opPost:target {
    background-color: #EEDACB;
}

.post.temporary {
    border: 1px solid #000000;
}

.postFileSize {
    color: #444444;
}

.menu {
    background: #DDDDDD !important;
    border: 1px solid #CCCCCC !important;
    font-family: "Trebuchet MS", Trebuchet, tahoma, serif !important;
}

.bannedFor {
    color: red;
}

.modificationDateTime {
    font-style: italic;
}

.postSubject {
    font-weight: bold;
    color: #002244;
}

.tripcode {
    color: green;
}

.moderName {
    font-weight: bold;
    color: red;
}

.userName {
    font-weight: bold;
    color: #004A99;
}

.postformFile.drag {
    background-color: #DDDDDD;
    border: 1px dashed #555555;
}

.referencedBy {
    color: #555555;
}

ul.tabWidget > li {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
}

ul.tabWidget > li > a {
    color: black;
}

ul.tabWidget > li.activated {
    background-color: #AAAAAA;
    border: 1px solid #666666;
}

ul.tabWidget > li.activated > a {
    color: white;
}

.toolbar.sticky {
    background-color: #EEEEEE;
}

.vote {
    background-color: #CCCCCC;
    border: 1px solid #BBBBBB;
}

.voteText {
    font-weight: bold;
}

.voteCount {
    font-style: italic;
}

.chatContactList {
    border: 1px solid #CCCCCC;
}

.chatContact:hover {
    color: #FFFFFF;
    background-color: #666666;
}

.chatContact.selected {
    color: #000000;
    background-color: #DDDDDD;
}

.chatContact.selected:hover {
    color: #FFFFFF;
    background-color: #666666;
}

.chatContactNewMessages {
    color: red;
}

.chatTarget {
    background-color: #DDDDDD;
}

.chatHistory {
    border: 1px solid #CCCCCC;
}

.chatMessage {
    border: 1px solid #CCCCCC;
    background-color: #DDDDDD;
}

.chatMessageDate {
    border-bottom: 1px dotted black;
}

.bordered {
    border: 1px solid #CCCCCC;
}

.submitContainer > input {
    border-color: #FF6600;
}

.hideReason {
    font-weight: bold;
}

#player {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
}

#player.minimized {
    background-color: #DDDDDD;
}

.playerHeader {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
}

.track {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
}

.track:hover {
    background-color: #CCCCCC;
    border: 1px solid #BBBBBB;
}

.track.selected {
    background-color: #AAAAAA;
    border: 1px solid #666666;
}

.track.selected > .trackInfo {
    font-weight: bold;
}

.bannedUserHeader {
    font-weight: bold;
}

.registeredUserHeader {
    font-weight: bold;
}

.searchResult {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
}

.searchResultHighlighted {
    background-color: yellow;
}

.delallHeader {
    font-weight: bold;
}

ul.jqueryFileTree a {
    color: black !important;
}

.searchAction > form {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
}

.theTitle {
    color: #FF6600;
}

.postformLabel {
    color: #002244;
}

#sidebar {
    background-color: #EEEEEE;
    border-right: 1px solid #CCCCCC;
}

#sidebarContent {
    border-top: 1px solid #CCCCCC;
}

#postForm {
    background-color: #EEEEEE;
}

#postForm.floatingPostForm {
    border: 2px solid #BBBBBB;
}

.postFormHeader {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
}

#postForm.floatingPostForm > .postFormHeader {
    border: none;
    border-bottom: 1px solid #CCCCCC;
}
