<div>
  <div>{{!it.translate('Connection with the server will be lost, '
         + 'and the server will become unavailable for some time. You will have to reload the page manually.')}}</div>
  <div>
    {{~it.boards :board}}
      <div>
        <input type='checkbox' value='{{!board.name}}',
               data-bind='checked: $data.boards'>[{{!board.name}}] {{!board.title}}</input>
      </div>
    {{~}}
  </div>
</div>
