partials/*
!partials/addFilesForm.jst
!partials/chatContact.jst
!partials/deleteFileForm.jst
!partials/deletePostForm.jst
!partials/editAudioTagsForm.jst
!partials/editPostForm.jst
!partials/favoritesElement.jst
!partials/fileInputs.jst
!partials/moveThreadForm.jst
!partials/postFile.jst
!partials/postFileThumb.jst
!partials/post.jst
!partials/postName.jst
!partials/postReference.jst
!partials/postReferringPosts.jst
!partials/postSubject.jst
!partials/settingsTable.jst
!partials/setVotingOpenedForm.jst
!partials/userBan.jst
