<select class="select">
    {{~it.boards :brd}}
        <option value="{{=brd.name}}"
                {{? brd.name == it.board.name}}selected="true"{{?}}>[{{=brd.name}}] {{=brd.title}}></option>
    {{~}}
</select>
