<div class="banner">
    {{? it.board.name != it.bannerBoardName}}
        <a href="/{{=it.site.pathPrefix}}{{=it.bannerBoardName}}">
    {{?}}
        <img src="/{{=it.site.pathPrefix}}img/banners/{{=it.bannerBoardName}}/{{=it.bannerFileName}}">
    {{? it.board.name != it.bannerBoardName}}
        </a>
    {{?}}
</div>
