<div>
    {{? it.board.postingEnabled}}
        <hr />
        {{~["Top"] :position}}
            {{#def.createAction}}
        {{~}}
    {{??}}
        <div class="postingDisabledMessage">
            <h2>{{=it.tr.postingDisabledBoardText}}</h2>
        </div>
    {{?}}
</div>
