<div class="{{? "in" == it.type}}chatMessageIn{{??}}chatMessageOut{{?}}">
    <div class="chatMessageDate">{{ out += it.formattedDate(it.date); }}</div>
    <div class="chatMessageText">{{!it.text}}</div>
</div>
