<div class="chatMessage">
    <div class="chatMessageDate">
        <img src="/{{=it.site.pathPrefix}}img/message_{{=it.type}}.png" class="signImage" width="16" height="16" />
        {{ out += it.formattedDate(it.date); }}
    </div>
    <div class="chatMessageText">{{!it.text}}</div>
</div>
