<tr>
    <td colspan="{{ out += (it.post.fileInfos.length + 2); }}">
        <div style="max-width: 90%;">
            <font face="monospace">{{ out += (new Array(("mobile" == it.deviceType) ? 30 : 40)).join("-"); }}<br />{{=it.userAgent}}</font>
        </div<
    </td>
</tr>
