<tr>
    <td colspan="{{ out += (it.post.fileInfos.length + 2); }}">
        <font face="monospace">{{ out += (new Array(it.userAgent.length + 1)).join("-"); }}<br />{{=it.userAgent}}</font>
    </td>
</tr>
