<div class="nowrap">
    <input type="text" name="voteVariant_{{=it.number}}" size="43" /><a href="javascript:void(0);"
                                                                        onclick="lord.removeVoteVariant(this);"><img src="/{{=it.site.pathPrefix}}img/delete.png"
                                                                                                                     title="{{=it.tr.removeVoteVariantText}}"
                                                                                                                     class="buttonImage"></a>
</div>
