<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' {{#def.rootBindings}}>
  {{#def.head}}
  <body>
    {{#def.sidebar}}
    <main id='content'>
      {{#def.toolbar}}
      <header>{{#def['custom/header'] || ''}}</header>
      <h1 class='page-title'>
        {{!it.translate('Welcome. Again.', 'welcomeMessage')}}
      </h1>
      {{#def['custom/home'] || ''}}
      <footer>{{#def['custom/footer'] || ''}}</footer>
      {{#def.player}}
    </main>
    {{#def.jQueryUIpositionFix}}
    {{#def.ajaxLoadingOverlay}}
  </body>
</html>
