<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' {{#def.rootBindings}}>
  {{#def.head}}
  <body>
    <a id='top'></a>
    {{#def.sidebar}}
    <div class='content-wrapper'>
      {{#def.toolbar}}
      <header>{{#def['custom/header'] || ''}}</header>
      <main id='content'>
        {{#def['custom/content/0'] || ''}}
        <h1 class='page-title'>{{!it.translate('Page or file not found', 'notFoundMessage')}}</h1>
        <div class='not-found-image-container'>
          {{? it.notFoundImageFileName}}
            <img id='not-found-image' src='/{{!it.site.pathPrefix}}img/404/{{!it.notFoundImageFileName}}'
                 class='not-found-image' />
            <script type='text/javascript'>
              (function() {
                window.lord.require().initializeNotFound();
              })();
            </script>
          {{?}}
        </div>
      </main>
      <a id='bottom'></a>
      <footer>{{#def['custom/footer'] || ''}}</footer>
      {{#def.player}}
    </div>
    {{#def.jQueryUIpositionFix}}
    {{#def.ajaxLoadingOverlay}}
  </body>
</html>
