<div class='auto-resizable-div'>
  <div class='row'>
    {{!it.translate('Title:')}}
    <input type='text' size='40'
           data-bind='textInput: title' />
  </div>
  <div class='row'>
    {{!it.translate('URL:')}}
    <input type='text' size='40'
           data-bind='textInput: url' />
  </div>
</div>
