# css
css/*
!css/3rdparty
!css/burichan.css
!css/futaba.css
!css/neutron.css
!css/photon.css

# img
img/*
!img/404
!img/banners
!img/flags
!img/addfile_link.png
!img/addfile.png
!img/add.png
!img/application_pdf_logo.png
!img/audio_edit_tags.png
!img/audio_mpeg_logo.png
!img/audio_ogg_logo.png
!img/audio_wav_logo.png
!img/ban.png
!img/bumplimit.png
!img/catalog.png
!img/checkbox_draft.png
!img/checkbox_op.png
!img/checkbox_raw_html.png
!img/checkbox_tripcode.png
!img/closed.png
!img/close_voting.png
!img/delete.png
!img/dislike.png
!img/download.png
!img/down.png
!img/edit.png
!img/favorite_active.png
!img/favorite.png
!img/file.png
!img/fixed.png
!img/frame.png
!img/gif_file.png
!img/google.png
!img/go.png
!img/hide.png
!img/homepage.png
!img/ip.png
!img/iqdb.png
!img/jpeg_file.png
!img/left.png
!img/like.png
!img/loading.gif
!img/login.png
!img/logout.png
!img/manage.png
!img/markup.png
!img/move.png
!img/mp3_file.png
!img/mp4_file.png
!img/mum_not_watching.png
!img/mum_watching.png
!img/neutron_line.png
!img/noframe.png
!img/ogg_file.png
!img/open.png
!img/open_voting.png
!img/pdf_file.png
!img/playlist_add.png
!img/playlist_delete.png
!img/playlist_download.png
!img/playlist.png
!img/png_file.png
!img/post_actions.png
!img/postlimit.png
!img/question.png
!img/r-15.png
!img/r-18g.png
!img/r-18.png
!img/registered.png
!img/right.png
!img/rss.png
!img/search.png
!img/settings.png
!img/source_text.png
!img/storage.png
!img/thread_back.png
!img/thread_down.png
!img/thread_update.png
!img/thread_up.png
!img/unfix.png
!img/unvote.png
!img/up.png
!img/video_mp4_logo.png
!img/video_ogg_logo.png
!img/video_webm_logo.png
!img/vote.png
!img/wav_file.png
!img/webm_file.png
!img/yandex-hernya.png
!img/.gitignore

# js
js/*
!js/3rdparty/doT.min.js
!js/3rdparty/FileSaver.min.js
!js/3rdparty/jquery.knob.min.js
!js/3rdparty/jquery-1.11.3.min.js
!js/3rdparty/jszip.min.js
!js/3rdparty/jszip-utils.min.js
!js/3rdparty/lib-typedarrays-min.js
!js/3rdparty/merge.min.js
!js/3rdparty/moment-with-locales.min.js
!js/3rdparty/picoModal-2.1.0.min.js
!js/3rdparty/Promise.min.js
!js/3rdparty/sha1.js
!js/3rdparty/uuid.js
!js/api.js
!js/base.js
!js/board.js
!js/codecha-widget.js
!js/d.js
!js/echo.js
!js/login.js
!js/manage.js
!js/playlist.js
!js/rpg.js
!js/soc.js
!js/thread.js
!js/worker.js
!js/yandex-captcha-script.js

# templates
templates/*
!templates/partials/addFilesForm.jst
!templates/partials/deleteFileForm.jst
!templates/partials/deletePostForm.jst
!templates/partials/editAudioTagsForm.jst
!templates/partials/editPostForm.jst
!templates/partials/favoritesElement.jst
!templates/partials/fileInputs.jst
!templates/partials/moveThreadForm.jst
!templates/partials/postFile.jst
!templates/partials/postFileThumb.jst
!templates/partials/post.jst
!templates/partials/postName.jst
!templates/partials/postReference.jst
!templates/partials/postReferringPosts.jst
!templates/partials/postSubject.jst
!templates/partials/settingsTable.jst
!templates/partials/setVotingOpenedForm.jst
!templates/partials/userBan.jst
!templates/addFilesDialog.jst
!templates/deleteFileDialog.jst
!templates/deletePostDialog.jst
!templates/dPostBodyPart.jst
!templates/echoEditPostDialogPart.jst
!templates/echoPostBodyPart.jst
!templates/echoPostSubject.jst
!templates/editAudioTagsDialog.jst
!templates/editPostDialog.jst
!templates/favoritesDialog.jst
!templates/favoritesElement.jst
!templates/hiddenPostList.jst
!templates/hotkeysDialog.jst
!templates/moveThreadDialog.jst
!templates/playlistItem.jst
!templates/post.jst
!templates/postReference.jst
!templates/rpgEditPostDialogPart.jst
!templates/rpgPostBodyPart.jst
!templates/settingsDialog.jst
!templates/setVotingOpenedDialog.jst
!templates/socPostHeaderPart.jst
!templates/userBan.jst
!templates/voteVariant.jst
