<tr>
    <td class="postformLabel">
        <b>{{=it.translate('', 'postFormLabelLink')}}</b>
    </td>
    <td class="postformField">
        <input type="text" maxlength="{{=it.board.maxLinkLength}}" name="link" class="postFormInput"
               value="{{=it.post.extraData}}" />
     </td>
</tr>
