<div id="captcha">
    <div name="image"></div>
    <input type="hidden" name="nodeCaptchaChallenge" />
    <input type="text" name="nodeCaptchaResponse" style="width: {{=it.width}}px;" />
    <span name="countdown"></span>
</div>
