a[data-rating="R-18"] {
    background: url("../../img/r-18.png") center center;
    width: 200px;
    height: 133px;
    display: inline-block;
}

a[data-rating="R-18"] > img {
    display: none;
}

#player {
    z-index: 2000000;
}

#postForm.floatingPostForm {
    z-index: 3000000 !important;
}
