*
!3rdparty/
!404/
!ban_level/
!banners/
!favicons/
!flags/
!markup/
!player/
!addfile.png
!addfile_link.png
!addfile_vk.png
!add_to_playlist.png
!anchor.png
!anchor_no.png
!add.png
!application_ogg_logo.png
!application_pdf_logo.png
!archive.png
!audio_edit_tags.png
!audio_mpeg_logo.png
!audio_ogg_logo.png
!audio_wav_logo.png
!ban.png
!boards.png
!bumplimit.png
!catalog.png
!chat_message.gif
!clear.png
!chat.png
!closed.png
!close_voting.png
!delete.png
!dislike.png
!download.png
!down.png
!draft.png
!draw.png
!draw_big.png
!edit.png
!expand.png
!favorite_active.png
!favorite.png
!file.png
!fill_form.png
!fixed.png
!gear.png
!gif_file.png
!go.png
!hide.png
!homepage.png
!html.png
!ip.png
!jpeg_file.png
!left.png
!like.png
!loading_big.gif
!loading.gif
!login.png
!logout.png
!markup.png
!markup_vk_1.png
!markup_vk_2.png
!message_in.png
!message_out.png
!move.png
!mp3_file.png
!mp4_file.png
!mum_not_watching.png
!mum_watching.png
!neutron_line.png
!node-captcha-fail.png
!ogg_file.png
!open.png
!open_voting.png
!pdf_file.png
!png_file.png
!post_actions.png
!postlimit.png
!question.png
!r-15.png
!r-18g.png
!r-18.png
!registered.png
!reply.png
!right.png
!rss.png
!search.png
!search_hide.png
!settings.png
!shield.png
!show.png
!similar.png
!source_text.png
!storage.png
!thread_back.png
!thread_update.png
!unfix.png
!unvote.png
!up.png
!video_mp4_logo.png
!video_ogg_logo.png
!video_webm_logo.png
!vote.png
!wand.png
!wav_file.png
!webm_file.png
!yandex-hernya.png
!.gitignore
