<div id="createActionContainer{{=position}}" class="createAction">
    <div id="postFormContainer{{=position}}">
        <div>[<a id="showHidePostFormButton{{=position}}" href="javascript:void(0);" data-position="{{=position}}"
                 onclick="lord.showHidePostForm(this); return false;">{{=it.tr.showPostFormText}}</a>]</div>
    </div>
</div>
