<a href="/{{=it.site.pathPrefix}}{{=reference.boardName}}/res/{{=reference.threadNumber}}.html#{{=reference.postNumber}}"
   data-board-name="{{=reference.boardName}}"
   data-post-number="{{=reference.postNumber}}">&gt;&gt;{{? reference.boardName != it.board.name}}/{{=reference.boardName}}/{{?}}{{=reference.postNumber}}</a>
